<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="a_bot_base_scene" >

  <xacro:arg name="scene"	default=""/>
  <xacro:arg name="sim"		default="false"/>
  <xacro:arg name="transmission_hw_interface"
	     default="hw_interface/PositionJointInterface"/>
  <!-- or "hw_intercae/VelocityJointInterface" -->

  <!-- ur_robot_driver -->
  <xacro:property name="a_bot_ip"	value="10.66.171.40"/>
  <xacro:property name="script_filename"
		  value="$(find ur_client_library
			 )/resources/external_control.urscript"/>
  <xacro:property name="output_recipe_filename"
		  value="$(find ur_robot_driver
			 )/resources/rtde_output_recipe.txt"/>
  <xacro:property name="input_recipe_filename"
		  value="$(find ur_robot_driver
			 )/resources/rtde_input_recipe.txt"/>
  <xacro:property name="initial_positions"
		  value="${dict(shoulder_pan_joint=1.5708,
			        shoulder_lift_joint=-2.1,
				elbow_joint=1.4,
				wrist_1_joint=-0.85,
				wrist_2_joint=-1.5708,
				wrist_3_joint=0.0)}"/>


  <xacro:property name="a_bot_x"	value="0"/>
  <xacro:property name="a_bot_y"	value="-0.4875"/>
  <xacro:property name="a_bot_z"	value="0.766"/>
  <xacro:property name="table_h"	value="0.770"/>

  <!-- ground -->
  <link name="ground"/>

  <!-- cage -->
  <xacro:property name="cage_w"		value="1.200"/>
  <xacro:property name="cage_l"		value="1.580"/>
  <xacro:property name="cage_h"		value="1.420"/>
  <xacro:property name="cage_t"		value="0.040"/>
  <xacro:property name="tool_bar_h"	value="0.240"/>
  <xacro:property name="camera_bar_h"	value="1.325"/>
  <xacro:property name="cage_z"		value="0.164"/>
  <xacro:property name="cage_offset_x"	value="0.015"/>
  <xacro:property name="cage_offset_y"	value="-0.005"/>
  <xacro:include filename="$(find aist_description
			   )/objects/urdf/cage.urdf.xacro"/>
  <xacro:cage prefix="cage_"
	      width="${cage_w}" length="${cage_l}" height="${cage_h}"
	      thickness="${cage_t}"
	      workspace_height="${table_h - cage_z}"
	      tool_bar_height="${tool_bar_h}"
	      camera_bar_height="${camera_bar_h}"
	      parent="ground">
    <origin xyz="${-cage_w/2 + cage_offset_x}
		 ${-cage_l/2 + cage_offset_y}
		 ${cage_z}"
	    rpy="0 0 0" />
  </xacro:cage>

  <!-- workspace -->
  <xacro:property name="table_w"	value="0.900"/>
  <xacro:property name="table_l"	value="0.750"/>
  <xacro:include filename="$(find aist_description
			   )/objects/urdf/table.urdf.xacro"/>
  <xacro:table prefix="workspace_table_"
	       width="${table_w}" length="${table_l}" height="${table_h}"
	       parent="ground">
    <origin xyz="${-cage_w/2 + cage_offset_x + cage_t} ${-table_l/2} 0"
	    rpy="0 0 0"/>
  </xacro:table>
  <link name="workspace_center"/>
  <joint name="workspace_joint" type="fixed">
    <parent link="ground"/>
    <child  link="workspace_center"/>
    <origin xyz="0 0 ${table_h}" rpy="0 0 0"/>
  </joint>

  <!-- tables for mounting robot arms -->
  <xacro:property name="bot_table_size"	value="0.225"/>
  <xacro:table prefix="a_bot_table_"
	       width="${bot_table_size}" length="${bot_table_size}"
	       height="${a_bot_z}" rgba="0.0 0.1 0.3 1" parent="ground">
    <origin xyz="${a_bot_x - bot_table_size/2} ${a_bot_y - bot_table_size/2} 0"
	    rpy="0 0 0"/>
  </xacro:table>

  <!-- tool holders -->
  <xacro:property name="precision_tool_holder_y"	value="0.60"/>
  <xacro:property name="screw_tool_m3_holder_y"		value="0.70"/>
  <xacro:property name="screw_tool_m4_holder_y"		value="0.80"/>
  <xacro:property name="suction_tool_holder_y"		value="0.90"/>
  <xacro:include filename="$(find aist_description
			   )/objects/urdf/precision_tool_holder.urdf.xacro"/>
  <xacro:precision_tool_holder prefix="precision_tool_holder_"
			   parent="cage_tool_bar">
    <origin xyz="0 ${precision_tool_holder_y} ${cage_t}" rpy="0 0 0"/>
  </xacro:precision_tool_holder>
  <xacro:include filename="$(find aist_description
			   )/objects/urdf/screw_tool_holder.urdf.xacro"/>
  <xacro:screw_tool_holder prefix="screw_tool_m3_holder_"
			   parent="cage_tool_bar">
    <origin xyz="0 ${screw_tool_m3_holder_y} ${cage_t}" rpy="0 0 0"/>
  </xacro:screw_tool_holder>
  <xacro:screw_tool_holder prefix="screw_tool_m4_holder_"
			   parent="cage_tool_bar">
    <origin xyz="0 ${screw_tool_m4_holder_y} ${cage_t}" rpy="0 0 0"/>
  </xacro:screw_tool_holder>
  <xacro:include filename="$(find aist_description
			   )/objects/urdf/suction_tool_holder.urdf.xacro"/>
  <xacro:suction_tool_holder prefix="suction_tool_holder_"
			   parent="cage_tool_bar">
    <origin xyz="0 ${suction_tool_holder_y} ${cage_t}" rpy="0 0 0"/>
  </xacro:suction_tool_holder>

  <!-- robot arms -->
  <xacro:include filename="$(find aist_description
			   )/devices/urdf/ur_robot.urdf.xacro"/>
  <xacro:ur_robot sim="$(arg sim)"
		  name="a_bot"
		  ur_type="ur5e"
		  parent="a_bot_table_top_center"
		  transmission_hw_interface="$(arg transmission_hw_interface)"
		  initial_positions="${initial_positions}"
		  safety_limits="true"
		  safety_pos_margin="0.15"
		  script_filename="${script_filename}"
		  input_recipe_filename="${input_recipe_filename}"
		  output_recipe_filename="${output_recipe_filename}"
		  robot_ip="${a_bot_ip}"
		  reverse_port="50001"
		  script_sender_port="50002"
		  reverse_ip="0.0.0.0"
		  script_command_port="50004"
		  trajectory_port="50003">
    <origin xyz="0 0 0 " rpy="0 0 0"/>
  </xacro:ur_robot>

  <!-- Set gazebo plugin for FT-sensors -->
  <!-- <xacro:include filename="$(find aist_description -->
  <!-- 			   )/devices/urdf/gazebo_ftsensor.urdf.xacro"/> -->
  <!-- <xacro:gazebo_ftsensor name="a_bot_ftsensor" -->
  <!-- 			 parent="a_bot_wrist_2_link" -->
  <!-- 			 child="a_bot_wrist_3_link" -->
  <!-- 			 joint="a_bot_wrist_3_joint" -->
  <!-- 			 wrench="/a_bot/wrench"/> -->

  <!-- Spawn and attach gripper -->
  <xacro:include filename="$(find aist_robotiq
			   )/urdf/robotiq_arg2f_coupling.urdf.xacro"/>
  <xacro:robotiq_arg2f_coupling prefix="a_bot_gripper_coupling_"
				parent="a_bot_tool0">
    <origin xyz="0 0 0" rpy="0 ${-pi/2} ${pi/2}"/>
  </xacro:robotiq_arg2f_coupling>

  <xacro:include filename="$(find aist_description
			   )/devices/urdf/robotiq_gripper.urdf.xacro"/>
  <xacro:robotiq_gripper sim="$(arg sim)"
			 type="robotiq_140"
			 name="a_bot_gripper"
			 parent="a_bot_gripper_coupling_flange_link"
			 short_finger="true">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_gripper>

  <!-- Add USB repeater -->
  <xacro:include filename="$(find aist_description
			   )/objects/urdf/usb_repeater.urdf.xacro"/>
  <xacro:usb_repeater prefix="a_bot_usb_repeater_"
		      parent="a_bot_wrist_2_link">
    <origin xyz="0.000 -0.051 0.000" rpy="${pi/2} ${-pi/2} 0"/>
  </xacro:usb_repeater>

  <!-- Add Motioncam-3D scanner -->
  <xacro:include filename="$(find aist_phoxi_camera
			   )/urdf/motioncam_m_camera.urdf.xacro"/>
  <xacro:motioncam_m_camera name="a_motioncam" parent="workspace_center"
			    use_nominal_extrinsics="$(arg sim)">
    <origin xyz="0.524 -0.074 0.657" rpy="-0.015 1.063 3.134"/>
  </xacro:motioncam_m_camera>

  <!-- Add RealSense camera mount and camera -->
  <xacro:include filename="$(find aist_description
			   )/objects/urdf/sr305_mount_2f140.urdf.xacro"/>
  <xacro:sr305_mount_2f140 prefix="a_bot_"
			   parent="a_bot_gripper_coupling_flange_link"/>
  <xacro:include filename="$(find aist_description
			   )/devices/urdf/_sr305.urdf.xacro"/>
  <xacro:sensor_sr305 name="a_bot_camera" parent="a_bot_camera_mount_flange"
		      use_nominal_extrinsics="$(arg sim)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_sr305>

  <!-- Add camera optical links from camera calibrations -->
  <xacro:unless value="$(arg sim)">
    <xacro:include filename="$(find aist_description
			     )/scenes/urdf/load_link.urdf.xacro"/>
    <xacro:load_link filename="$(find aist_description
			       )/scenes/calib/a_motioncam.yaml"/>
    <xacro:load_link filename="$(find aist_description
			       )/scenes/calib/a_bot_camera.yaml"/>
  </xacro:unless>

  <!-- I would like to remove the "world" link definition, but apparently it is necessary for Gazebo -->
  <link name="world"/>
  <joint name="ground_joint" type="fixed">
    <parent link="world"/>
    <child  link="ground"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Import assembly scene -->
  <xacro:include filename="$(find aist_description
			   )/scenes/urdf/assembly.urdf.xacro"/>

  <!-- Import indivisual scene -->
  <xacro:if value="${'$(arg scene)' != ''}">
    <xacro:include filename="$(find aist_description)/scenes/urdf/$(arg
			     scene).urdf.xacro"/>
  </xacro:if>

  <!-- Import gz plugins -->
  <xacro:if value="$(arg sim)">
    <gazebo>
      <!-- Simulate arms -->
      <plugin filename="gz_ros2_control-system"
	      name="gz_ros2_control::GazeboSimROS2ControlPlugin">
	<parameters>/tmp/a_bot_controllers.yaml</parameters>
	<ros>
	  <namespace>a_bot</namespace>
	  <remapping>robot_description:=/robot_description</remapping>
	</ros>
      </plugin>

      <!-- Simulate grippers -->
      <!-- <plugin filename="gz_ros2_control-system" -->
      <!-- 	      name="gz_ros2_control::GazeboSimROS2ControlPlugin"> -->
      <!-- 	<parameters>/tmp/a_bot_gripper_controllers.yaml</parameters> -->
      <!-- </plugin> -->

      <!-- Simulate cameras -->
      <!-- <plugin filename="gz-sim-sensors-system" -->
      <!-- 	      name="gz::sim::systems::Sensors"> -->
      <!-- 	<render_engine>ogre2</render_engine> -->
      <!-- </plugin> -->
    </gazebo>
  </xacro:if>

</robot>
