<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="calibration">

  <!-- Add AR markers -->
  <xacro:include filename="$(find aist_aruco_ros)/urdf/ar_marker.urdf.xacro"/>

  <xacro:ar_marker prefix="b_bot_"
  		   parent="b_bot_gripper_base_link"
  		   marker_id="26"
		   width="0.070" height="0.070" margin="0.005"
		   thickness="0.005">
    <origin xyz="0.163 0.0 0.0215" rpy="0 0 ${pi/2}"/>
  </xacro:ar_marker>

  <xacro:ar_marker prefix="workbench_"
		   parent="workbench_table_top_origin"
		   marker_id="100_101_102_103"
		   width="0.105" height="0.105" margin="0.007"
		   thickness="0.010">
    <origin xyz="0.130 0.120 0.010" rpy="0 0 0"/>
  </xacro:ar_marker>

</robot>
