<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="fetch_base_scene">

  <xacro:arg name="scene" default=""/>

  <!-- Fetch robot (root = "base_link") -->
  <xacro:include filename="$(find fetch_gazebo
			   )/robots/fetch.gazebo.xacro"/>

  <!-- Root frame -->
  <link name="world"/>

  <!-- Make "map" frame a child of "world" frame -->
  <link  name="map"/>
  <joint name="map_joint" type="fixed">
    <parent link="world"/>
    <child  link="map"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link  name="odom"/>
  <joint name="odom_joint" type="planar">
    <parent link="map"/>
    <child  link="odom"/>
    <axis   xyz="0 0 1"/>
  </joint>

  <joint name="base_joint" type="planar">
    <parent link="odom"/>
    <child  link="base_link"/>
    <axis   xyz="0 0 1"/>
  </joint>

  <!-- Include indivisual scene file -->
  <xacro:if value="${'$(arg scene)' != ''}">
    <joint name="ground_joint" type="fixed">
      <parent link="world"/>
      <child  link="ground"/>
    </joint>

    <xacro:include filename="$(find aist_description)/scenes/urdf/$(arg
			     scene).urdf.xacro"/>
  </xacro:if>

</robot>
