<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="g_bot_calibration">

  <xacro:include filename="$(find aist_aruco_ros)/urdf/ar_marker.urdf.xacro"/>
  <xacro:ar_marker prefix="workspace_"
		   parent="workspace_center"
		   marker_id="100_101_102_103"
		   width="0.105" height="0.105" margin="0.007"
		   thickness="0.001">
    <origin xyz="0 -0.140 0.001" rpy="0 0 0"/>
  </xacro:ar_marker>

</robot>
