<?xml version="1.0" ?>
<launch>

  <arg name="config"		default="aist"/>
  <arg name="scene"		default=""/>
  <arg name="file_name"		default="b_bot-guide_screw_m4"/>
  <arg name="rosbag_rate"	default="0.5"/>
  <arg name="rvizconfig"	default="$(dirname)/rosbag.rviz"/>

  <include file="$(find aist_routines)/launch/rosbag_play.launch">
    <arg name="config"		value="$(arg config)"/>
    <arg name="scene"		value="$(arg scene)"/>
    <arg name="file_name"	value="$(arg file_name)"/>
    <arg name="rosbag_rate"	value="$(arg rosbag_rate)"/>
    <arg name="rvizconfig"	value="$(arg rvizconfig)"/>
    <arg name="wait"		value="false"/>
  </include>

  <include file="$(dirname)/run.launch">
    <arg name="image_topic"	value="/camera_multiplexer/image"/>
  </include>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

</launch>
