<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aist_base_scene">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import aist_base_scene urdf file -->
    <xacro:include filename="$(find aist_description)/scenes/urdf/aist_base_scene.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="aist_base_scene.ros2_control.xacro" />


    <xacro:aist_base_scene_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
