<launch>

  <arg name="robot_description"	default="robot_description"/>
  <arg name="scene"/>
  <arg name="sim"/>
  <arg name="product"/>
  <arg name="moveit"/>
  <arg name="static"/>
  <arg name="snapshot"		default="false" />
  <arg name="config_dir"	default="$(optenv TR_CONFIG_DIR /tmp/)"/>

  <!-- Real / Sim switching param -->
  <param name="/sim"	value="$(arg sim)"/>

  <!-- If needed, broadcast static tf from map to odom -->
  <node if="$(arg static)"
	name="map_to_odom_static_transform_publisher"
	pkg="tf2_ros" type="static_transform_publisher"
	args="0 0 0 0 0 0 map odom"/>

  <!-- birngup controllers -->
  <node ns="torobo" name="controller_spawner"
	pkg="torobo_bringup" type="controller_spawner" output="screen"/>

  <!-- Load joint limtis and launch moveit_config -->
  <group if="$(arg moveit)" ns="torobo">
    <include file="$(dirname)/torobo_moveit_config.launch">
      <arg name="load_robot_description" value="true"/>
      <arg name="robot_description"	 value="$(arg robot_description)"/>
      <arg name="product"		 value="$(arg product)"/>
      <arg name="sim"			 value="$(arg sim)"/>
      <arg name="sim_in_moveit"		 value="false"/>
    </include>
  </group>
  <group unless="$(arg moveit)" ns="torobo">
    <node name="robot_state_publisher"
	  pkg="robot_state_publisher" type="robot_state_publisher"
	  respawn="true" output="screen"/>
    <include file="$(dirname)/torobo_planning_context.launch">
      <arg name="robot_description"	 value="$(arg robot_description)"/>
      <arg name="product"		 value="$(arg product)"/>
      <arg name="sim"			 value="$(arg sim)"/>
      <!-- <arg name="load_robot_description" value="false"/> -->
      <arg name="load_robot_description" value="true"/>
    </include>
  </group>

  <!-- load diagnostic_aggregator_config -->
  <!-- <arg unless="$(arg sim)" name="load_config_option" value=""/> -->
  <!-- <arg     if="$(arg sim)" name="load_config_option" value="-\-sim"/> -->
  <!-- <param name="/dummy" -->
  <!-- 	 command="$(find torobo_bringup -->
  <!-- 		  )/scripts/load_diagnostic_aggregator_config -->
  <!-- 		  -\-model_dir=$(find torobo_description)/config/models -->
  <!-- 		  -\-yaml=diagnostics.yaml -->
  <!-- 		  -\-robot_config=$(find torobo_description -->
  <!-- 		  )/config/products/$(arg product).yaml -->
  <!-- 		  -\-dump_file=$(arg config_dir -->
  <!-- 		  )/torobo_rosparam_diagnostic_aggregator_config.yaml -->
  <!-- 		  $(arg load_config_option)"/> -->
  <!-- <rosparam ns="torobo" -->
  <!-- 	    file="$(arg config_dir -->
  <!-- 		  )/torobo_rosparam_diagnostic_aggregator_config.yaml"/> -->

  <!-- diagnostic aggregator -->
  <!-- <node name="diagnostic_aggregator" ns="torobo" -->
  <!-- 	pkg="diagnostic_aggregator" type="aggregator_node"> -->
  <!--   <remap from="/diagnostics_toplevel_state" -->
  <!-- 	   to="/torobo/diagnostics_toplevel_state"/> -->
  <!-- </node> -->

  <!-- collision detector -->
  <include file="$(find torobo_collision_detector
		 )/launch/torobo_collision_detector_node.launch">
    <arg name="debug"		value="false"/>
    <arg name="link_scale"	value="1.0"/>
    <arg name="link_name_regex"	value=".*"/>
  </include>

  <!-- torobo teaching point manager -->
  <!-- <include file="$(find torobo_teaching_point_manager -->
  <!-- 		 )/launch/teaching_point_manager.launch"/> -->

  <!-- rosbag snapshot -->
  <!-- <include if="$(arg snapshot)" -->
  <!-- 	   file="$(find torobo_rosbag_utils)/launch/rosbag_snapshot.launch"/> -->

</launch>
