<launch>

  <arg name="product"/>
  <arg name="sim"/>
  <arg name="scene"/>

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)"
	 command="xacro '$(find aist_description
		  )/scenes/urdf/airec3_base_scene.urdf.xacro'
		  scene:=$(arg scene) sim:=$(arg sim)
		  product:=$(arg product)"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic"
	 textfile="$(dirname)/../config/airec3_base_scene.srdf" />

</launch>
