<?xml version="1.0"?>
<launch>

  <arg name="robot_names"	default="a_bot"/>
  <arg name="control_period"	default="0.002"/>
  <arg name="manager"		default=""/>
  <arg name="robot_no"		default="0"/>

  <arg if="$(eval manager == '')"	name="command"	value="standalone"/>
  <arg unless="$(eval manager == '')"	name="command"	value="load"/>

  <group unless="$(eval robot_no == len(robot_names.split()))">

    <!-- Get robot name -->
    <arg name="robot_name"	value="$(eval robot_names.split()[robot_no])"/>

    <group ns="$(arg robot_name)">
      <remap from="cartesian_commander/target_frame"	to="target_frame"/>
      <remap from="cartesian_commander/target_wrench"	to="target_wrench"/>

      <node name="cartesian_commander"
	    pkg="nodelet" type="nodelet" output="screen"
  	    args="$(arg command)
		  aist_cartesian_commander/aist_cartesian_commander
		  $(arg manager)">
	<param name="end_effector_link"	value="$(arg robot_name
					       )_gripper_tip_link"/>
	<param name="control_period"	value="$(arg control_period)"/>
	<remap from="/target_twist"	to="feature_tracker/target_twist"/>
	<remap from="/current_pose"
	       to="cartesian_compliance_controller/current_pose"/>
	<remap from="/current_twist"
	       to="cartesian_compliance_controller/current_twist"/>
      </node>
    </group>

    <!-- Recursively call myself for launching remaining commanders -->
    <include file="$(dirname)/run.launch">
      <arg name="robot_names"	value="$(arg robot_names)"/>
      <arg name="manager"	value="$(arg manager)"/>
      <arg name="robot_no"	value="$(eval robot_no + 1)"/>
    </include>
  </group>

</launch>
