<?xml version="1.0"?>
<launch>

  <arg name="robot_name"	default="a_bot"/>
  <arg name="manager"		default=""/>

  <arg if="$(eval manager == '')"	name="command"	value="standalone"/>
  <arg unless="$(eval manager == '')"	name="command"	value="load"/>

  <node name="cartesian_commander" pkg="nodelet" type="nodelet" output="screen"
  	args="$(arg command) aist_cartesian_commander/aist_cartesian_commander
	      $(arg manager)">
    <remap from="/deviation"
	   to="/$(arg robot_name)_feature_tracker/deviation"/>
    <remap from="/current_pose"
	   to="/$(arg robot_name
	       )/cartesian_compliance_controller/current_pose"/>
    <remap from="/current_twist"
	   to="/$(arg robot_name
	       )/cartesian_compliance_controller/current_twist"/>
  </node>

</launch>
