<?xml version="1.0"?>
<launch>

  <arg name="sim"			default="false"/>
  <arg name="scene"			default=""/>
  <arg name="vis"			default="true"/>
  <arg name="joint_state_frequency"	default="50"/>
  <arg name="robot_state_frequency"	default="50"/>

  <!-- Setup "aist" configuration -->
  <arg name="config"		value="a_bot"/>
  <arg name="gazebo_init_args"	value="-J a_bot_shoulder_pan_joint 1.5708
  				       -J a_bot_shoulder_lift_joint -2.1
  				       -J a_bot_elbow_joint 1.4
  				       -J a_bot_wrist_1_joint -0.85
  				       -J a_bot_wrist_2_joint -1.5708
  				       -J a_bot_wrist_3_joint 0.0"/>
  <arg name="prefixes"		value="a_bot_, a_bot_gripper_"/>
  <arg name="devices"		value="ur5e, robotiq_140"/>
  <arg name="controllers"	value="ur, cmodel"/>
  <arg name="drivers"		value="ur, cmodel"/>
  <arg name="driver_args"	value="10.66.171.40,
				       50001, 50002, 50003, 50004, 0;
				       urcap, 10.66.171.40" />

  <!-- Remapping for controllers must be done before starting driver -->
  <remap from="/a_bot/motion_control_handle/target_frame"
	 to="/a_bot/target_frame" />
  <remap from="/a_bot/cartesian_compliance_controller/target_frame"
	 to="/a_bot/target_frame" />
  <remap from="/a_bot/cartesian_compliance_controller/target_wrench"
	 to="/a_bot/target_wrench" />
  <remap from="/a_bot/cartesian_compliance_controller/ft_sensor_wrench"
	 to="/a_bot/wrench" />

  <!-- Bringup robots -->
  <include file="$(dirname)/include/connect_robots.launch">
    <arg name="robot_description_file"
	 value="$(find aist_description
		)/scenes/urdf/$(arg config)_base_scene.urdf.xacro
		scene:=$(arg scene)"/>
    <arg name="sim"			value="$(arg sim)"/>
    <arg name="joint_state_frequency"	value="$(arg joint_state_frequency)"/>
    <arg name="gazebo_init_args"	value="$(arg gazebo_init_args)"/>
    <arg name="prefixes"		value="$(arg prefixes)"/>
    <arg name="devices"			value="$(arg devices)"/>
    <arg name="controllers"		value="$(arg controllers)"/>
    <arg name="drivers"			value="$(arg drivers)"/>
    <arg name="driver_args"		value="$(arg driver_args)"/>
  </include>

  <!-- Start MoveIt! -->
  <include file="$(dirname)/include/move_group.launch">
    <arg name="robot_state_frequency"	value="$(arg robot_state_frequency)"/>
    <arg name="moveit_config"		value="$(find a_bot_moveit_config)"/>
    <arg name="vis"			value="$(arg vis)"/>
  </include>

  <!-- Launch precision tool controller -->
  <include file="$(find aist_precision_gripper)/launch/run.launch">
    <arg name="prefix"			value="precision_tool_"/>
    <arg name="sim"			value="$(arg sim)"/>
    <arg name="usb_port"		value="/dev/precision_tools"/>
    <arg name="publish_joint_states"	value="false"/>
  </include>

  <!-- Launch other hardware drivers -->
  <group unless="$(arg sim)">

    <!-- Launch Zivid camera -->
    <!-- <include file="$(dirname)/zivid_camera.launch"> -->
    <!--   <arg name="camera_name"		value="a_bot_zivid"/> -->
    <!--   <arg name="external_manager"	value="false"/> -->
    <!--   <arg name="manager"		value="$(arg manager)"/> -->
    <!-- </include> -->

    <!-- Load calibration parameters for FT sensor controllers -->
    <arg name="ftsensor_calib_dir"	value="$(env HOME
					       )/.ros/aist_ftsensor"/>
    <rosparam ns="a_bot/aist_ftsensor_controller/sensors"
    	      file="$(arg ftsensor_calib_dir
    		    )/a_bot/aist_ftsensor_controller.yaml"/>
    <rosparam ns="b_bot/aist_ftsensor_controller/sensors"
    	      file="$(arg ftsensor_calib_dir
    		    )/b_bot/aist_ftsensor_controller.yaml"/>

    <!-- Launch suction tool controllers -->
    <include file="$(find aist_fastening_tools
    		   )/launch/suction_tool_controllers.launch">
      <arg name="driver_ns"		value="b_bot/ur_hardware_interface"/>
      <arg name="tool_names"		value="screw_tool_m3 screw_tool_m4
      					       suction_tool base_fixture"/>
    </include>

    <!-- Launch screw tool controllers -->
    <include file="$(find aist_fastening_tools
    		   )/launch/screw_tool_controllers.launch">
      <arg name="driver_ns"		value="dynamixel_driver"/>
      <arg name="tool_names"		value="screw_tool_m3 screw_tool_m4"/>
      <arg name="usb_port"		value="/dev/screw_tools"/>
    </include>

  </group>

</launch>
