<?xml version="1.0"?>
<launch>

  <arg name="sim"	default="false"/>
  <arg name="scene"	default=""/>
  <arg name="product"	default="$(optenv PRODUCT aist)"/>
  <arg name="static"	default="true"/>
  <arg name="snapshot"	default="false" />

  <!-- GDB functionality -->
  <arg name="debug"	default="false" />

  <!-- Real/Sim switching param -->
  <param name="/sim"	value="$(arg sim)"/>

  <!-- Launch real robot -->
  <group unless="$(arg sim)">
    <arg name="log_level"	default="warning" />
    <include file="$(find rtt_torobo_hardware_real
		   )/launch/rtt_torobo_hardware_real.launch">
      <arg name="debug"		value="$(arg debug)" />
      <arg name="product"	value="$(arg product)" />
      <arg name="log_level"	value="$(arg log_level)" />
    </include>

    <!-- Non-RT Devices -->
    <node ns="torobo" name="device_spawner"
	  pkg="torobo_bringup" type="device_spawner" output="screen"
          args="--robot_config=$(find torobo_description
		)/config/products/$(arg product).yaml
		--model_dir=$(find torobo_ethercat_description)/config/">
    </node>
  </group>

  <!-- Launch controllers -->
  <node ns="torobo"
	name="controller_spawner"
	pkg="torobo_bringup" type="controller_spawner" output="screen"/>

  <!-- Launch move_group server -->
  <include ns="torobo"
	   file="$(find airec3_moveit_config)/launch/move_group.launch">
    <arg name="product"			value="$(arg product)"/>
    <arg name="scene"			value="$(arg scene)"/>
    <arg name="robot_description"	value="robot_description"/>
  </include>
  <!-- <node ns="torobo" name="robot_state_publisher" -->
  <!-- 	pkg="robot_state_publisher" type="robot_state_publisher" -->
  <!-- 	respawn="true" output="screen"> -->
  <!--   <param name="robot_description"	value="robot_description"/> -->
  <!-- </node> -->

  <!-- If static == true, transform from map to odom should be provided
       by static_transform_publisheer -->
  <node if="$(arg static)"
	name="map_to_odom_static_transform_publisher"
	pkg="tf2_ros" type="static_transform_publisher"
	args="0 0 0 0 0 0 map odom" />

  <!-- If static == false, transform from map to odom should be provided
       by localization server -->
  <group unless="$(arg static)">
    <!-- Launch localization server here -->
  </group>

  <!-- Launch move_base server -->
  <!-- <include ns="torobo" -->
  <!-- 	   file="$(dirname)/include/move_base.launch"> -->
  <!--   <arg name="holonomic_robot"	value="true"/> -->
  <!--   <arg name="base_controller"	value="base_controller"/> -->
  <!--   <arg name="no_static_map"	value="true"/> -->
  <!-- </include> -->

</launch>
