<?xml version="1.0"?>
<launch>

  <arg name="sim"	default="false"/>
  <arg name="scene"	default=""/>
  <arg name="product"	default="$(optenv PRODUCT aist)"/>
  <arg name="static"	default="true"/>
  <arg name="snapshot"	default="false"/>

  <!-- GDB functionality -->
  <arg name="debug"	default="false"/>

  <!-- Real/Sim switching param -->
  <param name="/sim"	value="$(arg sim)"/>

  <!-- Common -->
  <include file="$(dirname)/include/airec3_bringup_common.launch">
    <arg name="scene"		value="$(arg scene)"/>
    <arg name="sim"		value="$(arg sim)"/>
    <arg name="product"		value="$(arg product)"/>
    <arg name="static"		value="$(arg static)"/>
    <arg name="snapshot"	value="$(arg snapshot)"/>
  </include>

  <!-- Launch gazebo -->
  <group if="$(arg sim)">
    <arg name="gazebo_gui"	default="true"/>
    <arg name="gazebo_world"	default="$(find torobo_gazebo
					 )/worlds/ground_plane.world"/>
    <arg name="paused"		default="false"/>
    <arg name="verbose"		default="false"/>
    <include file="$(dirname)/include/torobo_world.launch">
      <arg name="debug"			value="$(arg debug)"/>
      <arg name="verbose"		value="$(arg verbose)"/>
      <arg name="robot_description"	value="airec3_description"/>
      <arg name="product"		value="$(arg product)"/>
      <arg name="paused"		value="$(arg paused)"/>
      <arg name="gui"			value="$(arg gazebo_gui)"/>
      <arg name="world"			value="$(arg gazebo_world)"/>
    </include>

    <!-- If 'scene' is not empty, load environment URDF to the parameter
	 'environment_description' and set it to Gazebo. -->
    <group unless="$(eval scene == '')">
      <param name="environment_description"
	     command="$(find xacro)/xacro '$(find aist_description
		      )/scenes/urdf/$(arg scene)_environment.urdf.xacro'"/>
      <node name="environment_spawner" pkg="gazebo_ros" type="spawn_model"
	    respawn="false" output="screen"
	    args="-urdf -model environment -param environment_description
		  -unpause"/>
    </group>

    <!-- Start rviz -->
    <include file="$(find airec3_moveit_config)/launch/moveit_rviz.launch">
      <arg name="config"	value="true"/>
    </include>
  </group>

  <!-- Launch real robot -->
  <group unless="$(arg sim)">
    <arg name="log_level"	default="warning"/>
    <include file="$(find rtt_torobo_hardware_real
		   )/launch/rtt_torobo_hardware_real.launch">
      <arg name="debug"		value="$(arg debug)"/>
      <arg name="product"	value="$(arg product)"/>
      <arg name="log_level"	value="$(arg log_level)"/>
    </include>

    <!-- Non-RT Devices -->
    <node ns="torobo" name="device_spawner"
	  pkg="torobo_bringup" type="device_spawner" output="screen"
          args="--robot_config=$(find torobo_description
		)/config/products/$(arg product).yaml
		--model_dir=$(find torobo_ethercat_description)/config/"/>
  </group>

</launch>
