<launch>

  <arg name="sim"	default="false"/>
  <arg name="scene"	default=""/>
  <arg name="product"	default="$(optenv PRODUCT default)"/>
  <arg name="static"	default="true"/>
  <arg name="snapshot"	default="false" />

  <!-- GDB functionality -->
  <arg name="debug"	default="false" />

  <!-- Simulation with gazebo -->
  <group if="$(arg sim)">
    <arg name="verbose"	default="false" />
    <include file="$(find torobo_bringup)/launch/bringup_sim.launch">
      <arg name="product"	value="$(arg product)"/>
      <arg name="static"	value="$(arg static)"/>
      <arg name="moveit"	value="false"/>
      <arg name="snapshot"	value="$(arg snapshot)"/>
      <arg name="debug"		value="$(arg debug)"/>
      <arg name="verbose"	value="$(arg verbose)"/>
    </include>

    <group unless="$(eval scene == '')" ns="torobo">
      <!-- Load environment URDF to the parameter "environment_description"
	   and set it to Gazebo. -->
      <!-- <param name="environment_description" -->
      <!-- 	     command="$(find xacro)/xacro '$(find aist_description -->
      <!-- 		      )/scenes/urdf/$(arg scene).urdf.xacro'"/> -->
      <!-- <node name="environment_spawner" pkg="gazebo_ros" type="spawn_model" -->
      <!-- 	    respawn="false" output="screen" -->
      <!-- 	    args="-urdf -param environment_description -->
      <!-- 		  -model environment -unpause"/> -->
    </group>

    <!-- Launch rviz -->
    <include file="$(find airec3_moveit_config)/launch/moveit_rviz.launch">
      <arg name="config"	value="true"/>
    </include>
  </group>

  <!-- Launch real robot -->
  <group unless="$(arg sim)">
    <arg name="log_level"	default="warning" />
    <include file="$(find torobo_bringup)/launch/bringup_real.launch">
      <arg name="product"	value="$(arg product)"/>
      <arg name="static"	value="$(arg static)"/>
      <arg name="moveit"	value="false"/>
      <arg name="snapshot"	value="$(arg snapshot)"/>
      <arg name="debug"		value="$(arg debug)"/>
      <arg name="log_level"	value="$(arg log_level)"/>
    </include>
  </group>

  <!-- Launch move_group server -->
  <include ns="torobo"
	   file="$(find airec3_moveit_config)/launch/move_group.launch">
    <arg name="product"	value="$(arg product)"/>
    <arg name="sim"	value="$(arg sim)"/>
    <arg name="scene"	value="$(arg scene)"/>
  </include>

</launch>
