<?xml version="1.0"?>
<launch>

  <arg name="sim"			default="false"/>
  <arg name="scene"			default=""/>
  <arg name="joint_state_frequency"	default="50"/>
  <arg name="robot_state_frequency"	default="50"/>

  <!-- Setup "aist" configuration -->
  <arg name="config"		value="g_bot"/>
  <arg name="gazebo_init_args"	value="-J g_bot_shoulder_pan_joint 1.5708
  				       -J g_bot_shoulder_lift_joint -2.1
  				       -J g_bot_elbow_joint 1.4
  				       -J g_bot_wrist_1_joint -0.85
  				       -J g_bot_wrist_2_joint -1.5708
  				       -J g_bot_wrist_3_joint 0.0"/>
  <arg name="prefixes"		value="g_bot_"/>
  <arg name="devices"		value="ur5e"/>
  <arg name="controllers"	value="ur"/>
  <arg name="drivers"		value="ur"/>
  <arg name="driver_args"	value="192.168.11.4,
				       50001, 50002, 50003, 50004, 0" />

  <!-- Bringup robots -->
  <include file="$(dirname)/include/connect_robots.launch">
    <arg name="robot_description_file"
	 value="$(find aist_description
		)/scenes/urdf/$(arg config)_base_scene.urdf.xacro
		scene:=$(arg scene)"/>
    <arg name="sim"			value="$(arg sim)"/>
    <arg name="joint_state_frequency"	value="$(arg joint_state_frequency)"/>
    <arg name="gazebo_init_args"	value="$(arg gazebo_init_args)"/>
    <arg name="prefixes"		value="$(arg prefixes)"/>
    <arg name="devices"			value="$(arg devices)"/>
    <arg name="controllers"		value="$(arg controllers)"/>
    <arg name="drivers"			value="$(arg drivers)"/>
    <arg name="driver_args"		value="$(arg driver_args)"/>
  </include>

  <!-- Start MoveIt! -->
  <include file="$(dirname)/include/move_group.launch">
    <arg name="robot_state_frequency"	value="$(arg robot_state_frequency)"/>
    <arg name="moveit_config"		value="$(find g_bot_moveit_config)"/>
    <arg name="vis"			value="true"/>
  </include>

  <!-- Launch other hardware drivers -->
  <group unless="$(arg sim)">

    <!-- Launch suction tool controllers -->
    <include file="$(find aist_fastening_tools
    		   )/launch/conveni_suction_gripper_controller.launch">
      <arg name="gripper_name"		value="g_bot_gripper"/>
      <arg name="usb_port"		value="/dev/ttyACM0"/>
      <arg name="baud_rate"		value="9600"/>
    </include>

  </group>

</launch>
