<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="robotiq_gripper"
	       params="type prefix parent short_finger:=false *origin">
    <xacro:include filename="$(find aist_robotiq
			     )/urdf/${type}_gripper.urdf.xacro"/>
    <xacro:if value="${type == 'robotiq_85'}">
      <xacro:robotiq_85_gripper prefix="${prefix}" parent="${parent}">
	<xacro:insert_block name="origin"/>
      </xacro:robotiq_85_gripper>
    </xacro:if>
    <xacro:if value="${type == 'robotiq_140'}">
      <xacro:robotiq_140_gripper prefix="${prefix}" parent="${parent}"
				 short_finger="${short_finger}">
	<xacro:insert_block name="origin"/>
      </xacro:robotiq_140_gripper>
    </xacro:if>
    <xacro:if value="${type == 'robotiq_hande'}">
      <xacro:robotiq_hande_gripper prefix="${prefix}" parent="${parent}">
	<xacro:insert_block name="origin"/>
      </xacro:robotiq_hande_gripper>
    </xacro:if>
  </xacro:macro>

</robot>
