<?xml version="1.0" ?>
<launch>

  <arg name="robot_name"	default="b_bot"/>
  <arg name="velocity_control"	default="false"/>
  <arg name="traj"		default="true"/>
  <arg name="manager"		default=""/>

  <!-- Spawn servo_server and spacenav -->
  <include file="$(find aist_moveit_servo)/launch/ur_spacenav.launch">
    <arg name="robot_name"		value="$(arg robot_name)"/>
    <arg name="velocity_control"	value="$(arg velocity_control)"/>
    <arg name="traj"			value="$(arg traj)"/>
  </include>

  <arg name="image_topic"	value="camera_multiplexer/image"/>
  <arg name="depth_topic"	value="camera_multiplexer/depth"/>
  <arg name="camera_info_topic"	value="camera_multiplexer/camera_info"/>

  <!-- Spawn visual_tracker -->
  <include file="$(find aist_visual_tracker)/launch/run.launch">
    <arg name="image_topic"	value="$(arg image_topic)"/>
    <arg name="manager"		value="$(arg manager)"/>
    <arg name="config_file"	value="$(dirname
    				       )/../config/visual_tracker.yaml"/>
  </include>

  <!-- Spawn cuda_cloud_registrator -->
  <include file="$(find cuda_cloud_registrator)/launch/run.launch">
    <arg name="image_topic"		value="$(arg image_topic)"/>
    <arg name="depth_topic"		value="$(arg depth_topic)"/>
    <arg name="camera_info_topic"	value="$(arg camera_info_topic)"/>
    <arg name="manager"			value="camera_manager"/>
    <arg name="config_file"
  	 value="$(dirname)/../config/cloud_registrator.yaml"/>
  </include>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

</launch>
