<?xml version="1.0"?>
<launch>

  <arg name="manager"			default="camera_manager"/>
  <arg name="manager_threads"		default="8"/>

  <!-- Launch nodelet manager -->
  <node name="$(arg manager)"
	pkg ="nodelet" type="nodelet" args="manager" output="screen">
    <param name="num_worker_threads"	value="$(arg manager_threads)"/>
  </node>

  <!-- Launch Realsense cameras -->
  <include file="$(find realsense2_camera
		 )/launch/rs_camera_with_config.launch">
    <arg name="camera"			value="a_bot_camera"/>
    <arg name="config_file"		value="$(dirname
					       )/../config/a_bot_camera.yaml"/>
    <arg name="external_manager"	value="$(eval manager != '')"/>
    <arg name="manager"			value="/$(arg manager)"
	 if="$(eval manager != '')"/>
  </include>
  <include file="$(find realsense2_camera
		 )/launch/rs_camera_with_config.launch">
    <arg name="camera"			value="b_bot_camera"/>
    <arg name="config_file"		value="$(dirname
					       )/../config/b_bot_camera.yaml"/>
    <arg name="external_manager"	value="$(eval manager != '')"/>
    <arg name="manager"			value="/$(arg manager)"
	 if="$(eval manager != '')"/>
  </include>

  <!-- Launch Motioncam-3D camera -->
  <include file="$(find aist_phoxi_camera)/launch/run_with_config.launch">
    <arg name="camera_name"		value="a_motioncam"/>
    <arg name="config_file"		value="$(dirname
					       )/../config/a_motioncam.yaml"/>
    <arg name="external_manager"	value="true"/>
    <arg name="manager"			value="$(arg manager)"/>
  </include>

  <!-- Start live camera -->
  <node name="live_camera" pkg="usb_cam" type="usb_cam_node"
	clear_params="true" output="screen">
    <rosparam file="$(dirname)/../config/live_camera.yaml"/>
  </node>

    <!-- Launch Zivid camera -->
    <!-- <include file="$(dirname)/zivid_camera.launch"> -->
    <!--   <arg name="camera_name"		value="a_bot_zivid"/> -->
    <!--   <arg name="external_manager"	value="false"/> -->
    <!--   <arg name="manager"		value="$(arg manager)"/> -->
    <!-- </include> -->

</launch>
