<?xml version="1.0" ?>
<launch>

  <arg name="sim"		default="false"/>
  <arg name="rviz_config"	default="$(dirname)/assembly.rviz"/>

  <!-- Start cameras -->
  <include unless="$(arg sim)" file="$(dirname)/aist_cameras.launch"/>

  <!-- Start collision_object_manager -->
  <include file="$(find aist_collision_object_manager)/launch/run.launch"/>

  <!-- Start feature tracker -->
  <include file="$(find cuda_feature_tracker_3d)/launch/run.launch">
    <arg name="robot_names"	value="a_bot b_bot"/>
    <arg name="manager"		value="/camera_manager"/>
  </include>

  <!-- Start rviz -->
  <include file="$(find aist_bringup)/launch/include/rviz.launch">
    <arg name="moveit_config"	value="$(find aist_moveit_config)"/>
    <arg name="rviz_config"	value="$(arg rviz_config)"/>
  </include>

</launch>
