<?xml version="1.0"?>
<launch>

    <arg name="camera_name"	default="g_bot_camera"/>
    <arg name="manager"		default=""/>
    <arg name="rviz_config"	default="$(dirname)/conveni_picking.rviz"/>
    <arg name="vis"		default="true"/>

  <!-- Launch realsense camera, depth_filter and graspability server -->
  <include file="$(find aist_graspability)/launch/realsense.launch">
    <arg name="subscribe_normal"	value="true"/>
    <arg name="debug"			value="false"/>
    <arg name="camera_name"		value="$(arg camera_name)"/>
    <arg name="manager"			value="$(arg manager)"/>
    <arg name="vis"			value="false"/>
  </include>

  <!-- Start rviz -->
  <arg name="moveit_config"	value="$(find g_bot_moveit_config)"/>
  <include if="$(arg vis)"
	   file="$(find aist_bringup)/launch/include/rviz.launch">
    <arg name="moveit_config"	value="$(arg moveit_config)"/>
    <arg name="rviz_config"	value="$(arg rviz_config)"/>
  </include>

</launch>
