<?xml version="1.0"?>
<launch>

  <arg name="config"		default="aist"/>
  <arg name="scene"		default=""/>
  <arg name="file_name"		default="servo_test-feeder-2"/>
  <arg name="rosbag_rate"	default="0.5"/>
  <arg name="rvizconfig"	default="$(dirname)/rosbag_play.rviz"/>

  <include file="$(find aist_description)/launch/display_scene.launch">
    <arg name="config"		value="$(arg config)"/>
    <arg name="scene"		value="$(arg scene)"/>
    <arg name="rvizconfig"	value="$(arg rvizconfig)"/>
    <arg name="joint_gui"	value="false"/>
  </include>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

  <node name="rosbag_play" pkg="rosbag" type="play" output="log"
	args="--loop --quiet --wait-for-subscribers --rate=$(arg rosbag_rate)
	      $(dirname)/../../../../data/$(arg file_name).bag"/>

</launch>
