<?xml version="1.0"?>
<launch>

  <!-- <arg name="id" default="InstalledExamples-basic-example"/> -->
  <arg name="file_name"		default="servo_test"/>

  <arg name="depth_topic"	value="/camera_multiplexer/depth"/>
  <arg name="image_topic"	value="/camera_multiplexer/image"/>
  <arg name="cinfo_topic"	value="/camera_multiplexer/camera_info"/>

  <node name="rosbag_record" pkg="rosbag" type="record" output="screen"
  	args="$(arg depth_topic) $(arg cinfo_topic) $(arg image_topic)
	      /tf /tf_static
	      -o $(env HOME)/catkin_ws/data/$(arg file_name)"/>

</launch>
