<launch>

  <arg name="screen_frame"	default="virtual_screen"/>
  <arg name="reference_frame"	default="world"/>
  <arg name="camera_info_topic"	default="/live_camera/camera_info"/>
  <arg name="description_param"	default="/robot_description"/>

  <node name="mesh_generator"
	pkg="aist_visualization" type="mesh_generator" output="screen">
    <param name="screen_frame"		value="$(arg screen_frame)"/>
    <param name="reference_frame"	value="$(arg reference_frame)"/>
    <remap from="/camera_info"		to="$(arg camera_info_topic)"/>
  </node>

  <node name="robot_description_provider"
	pkg="aist_visualization" type="robot_description_provider"
	output="screen">
    <param name="description_param"	value="$(arg description_param)"/>
  </node>

</launch>
