<?xml version="1.0" ?>
<launch>

  <arg name="model"		default="$(dirname)/../urdf/test_arm.urdf"/>
  <arg name="description_param"	default="/robot_description"/>
  <arg name="config_file"	default="$(find nep_bridge)/config/nep_bridge.yaml"/>

  <!-- Display model arm -->
  <include file="$(find urdf_tutorial)/launch/display.launch">
    <arg name="model"	value="$(arg model)"/>
  </include>

  <node name="robot_description_provider"
	pkg="aist_visualization" type="robot_description_provider"
	output="screen">
    <param name="description_param"	value="$(arg description_param)"/>
  </node>

  <!-- Launch live camera -->
  <!-- <node name="live_camera" -->
  <!-- 	pkg="usb_cam" type="usb_cam_node" output="screen"> -->
  <!--     <rosparam file="$(dirname)/../config/live_camera.yaml"/> -->
  <!-- </node> -->

  <!-- Launch nep_bridge -->
  <include file="$(find nep_bridge)/launch/run.launch">
    <arg name="config_file"		value="$(arg config_file)"/>
  </include>

</launch>
