<?xml version="1.0" ?>
<launch>

  <arg name="gripper_name"	default="conveni_suction_gripper"/>

  <node name="$(arg gripper_name)_test"
	pkg="aist_fastening_tools" type="suction_tool_test.py"
	output="screen">
    <param name="controller_ns"	value="$(arg gripper_name)_controller"/>
  </node>

</launch>
