<?xml version="1.0" ?>
<launch>

  <arg name="gripper_name"	default="conveni_suction_gripper"/>
  <arg name="usb_port"		default="/dev/ttyACM0"/>
  <arg name="baud_rate"		default="9600"/>
  <arg name="client_only"	default="false"/>

  <node name="$(arg gripper_name)_test"
	pkg="aist_fastening_tools" type="suction_tool_test.py"
	output="screen">
    <param name="controller_ns"	value="$(arg gripper_name)_controller"/>
  </node>

  <include unless="$(arg client_only)"
	   file="$(dirname)/conveni_suction_gripper_controller.launch">
    <arg name="gripper_name"	value="$(arg gripper_name)"/>
    <arg name="usb_port"	value="$(arg usb_port)"/>
    <arg name="baud_rate"	value="$(arg baud_rate)"/>
  </include>

</launch>
