<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="aist_box"
	       params="name width length height parent
		       rgba:='0.7 0.7 0.7 1' mass:=1.0
		       *origin">
    <xacro:include filename="$(find aist_description
			     )/objects/urdf/primitive_inertia.urdf.xacro"/>
    <link name="${name}">
      <!-- w is in x, l is in y, h is in z -->
      <visual>
        <origin xyz="${width/2} ${length/2} ${height/2}" rpy="0 0 0"/>
        <geometry>
          <box size="${width} ${length} ${height}"/>
        </geometry>
        <material name="">
          <color rgba="${rgba}"/>
        </material>
      </visual>
      <collision>
        <origin xyz="${width/2} ${length/2} ${height/2}" rpy="0 0 0"/>
        <geometry>
          <box size="${width} ${length} ${height}"/>
        </geometry>
      </collision>

      <!-- This is required for Gazebo. -->
      <inertial>
	<origin xyz="${width/2} ${length} ${height/2}" rpy="0 0 0"/>
	<xacro:box_inertia width="${width}" length="${length}"
			   height="${height}" mass="${mass}"/>
      </inertial>
    </link>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child  link="${name}"/>
      <xacro:insert_block name="origin"/>
    </joint>
  </xacro:macro>
</robot>
