<?xml version="1.0"?>

<!--
License: Apache 2.0. See LICENSE file in root directory.
Copyright(c) 2017 Intel Corporation. All Rights Reserved

This is the URDF model for the Intel RealSense 430 camera, in it's
aluminum peripherial evaluation case.
-->

<robot name="sensor_d415" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="sensor_d415" params="parent *origin name:=camera
					  use_nominal_extrinsics:=false
					  add_plug:=false
					  use_mesh:=true">

    <xacro:include filename="$(find realsense2_description
			     )/urdf/_d415.urdf.xacro" />
    <xacro:sensor_d415 parent="${parent}" name="${name}"
		       use_nominal_extrinsics="${use_nominal_extrinsics}"
		       add_plug="${add_plug}" use_mesh="${use_mesh}">
      <xacro:insert_block name="origin"/>
    </xacro:sensor_d415>

    <!-- Reference should be color_frame because depth is alighed to color -->
    <gazebo reference="${name}_color_frame">
      <sensor type="rgbd_camera" name="${name}">
	<camera>
	  <!-- Color sensor's FOV(VGA): 68 deg. -->
          <horizontal_fov>1.2043</horizontal_fov>
          <image>
	    <!-- HD -->
            <width>1280</width>
            <height>720</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
	  <gz_frame_id>${name}_color_frame</gz_frame_id>
	  <optical_frame_id>${name}_color_frame</optical_frame_id>
	  <noise>
	    <type>gaussian</type>
	    <mean>0.0</mean>
	    <stddev>0.007</stddev>
	  </noise>
          <distortion>
	    <k1>0.0</k1>
	    <k2>0.0</k2>
	    <k3>0.0</k3>
	    <p1>0.0</p1>
	    <p2>0.0</p2>
	  </distortion>
	</camera>
	<always_on>true</always_on>
        <updateRate>10.0</updateRate>
	<visualize>true</visualize>
	<topic>${name}</topic>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>
