<?xml version="1.0"?>

<!--
This file is based on the d435 urdf from the realsense package.
The origin of the mesh is at the center of the back mount.
-->

<robot name="sensor_sr305" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_sr305" params="parent *origin name:=camera
					   use_nominal_extrinsics:=false
					   use_bottom_mount:=false">

    <xacro:include filename="$(find realsense2_description
			     )/urdf/_sr305.urdf.xacro" />
    <xacro:sensor_sr305 parent="${parent}" name="${name}"
			use_nominal_extrinsics="${use_nominal_extrinsics}"
		        use_bottom_mount="${use_bottom_mount}">
      <xacro:insert_block name="origin"/>
    </xacro:sensor_sr305>

    <!-- Reference should be color_frame because depth is alighed to color -->
    <gazebo reference="${name}_color_frame">
      <sensor type="rgbd_camera" name="${name}">
	<camera>
	  <!-- Color sensor's FOV(VGA): 68 deg. -->
          <horizontal_fov>1.1868</horizontal_fov>
          <image>
	    <!-- VGA -->
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
	  <gz_frame_id>${name}_color_frame</gz_frame_id>
	  <optical_frame_id>${name}_color_frame</optical_frame_id>
	  <noise>
	    <type>gaussian</type>
	    <mean>0.0</mean>
	    <stddev>0.007</stddev>
	  </noise>
          <distortion>
	    <k1>0.0</k1>
	    <k2>0.0</k2>
	    <k3>0.0</k3>
	    <p1>0.0</p1>
	    <p2>0.0</p2>
	  </distortion>
	</camera>
	<always_on>true</always_on>
        <updateRate>10.0</updateRate>
	<visualize>true</visualize>
	<topic>${name}</topic>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
