<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="robotiq_gripper_ros2_control"
	       params="sim type name parent short_finger:=false *origin">

    <xacro:include filename="$(find aist_robotiq
			     )/urdf/${type}_gripper.urdf.xacro"/>
    <xacro:if value="${type == 'robotiq_85'}">
      <xacro:robotiq_85_gripper prefix="${name}_" parent="${parent}">
	<xacro:insert_block name="origin"/>
      </xacro:robotiq_85_gripper>
    </xacro:if>
    <xacro:if value="${type == 'robotiq_140'}">
      <xacro:robotiq_140_gripper prefix="${name}_" parent="${parent}"
				 short_finger="${short_finger}">
	<xacro:insert_block name="origin"/>
      </xacro:robotiq_140_gripper>
    </xacro:if>
    <xacro:if value="${type == 'robotiq_hande'}">
      <xacro:robotiq_hande_gripper prefix="${name}_" parent="${parent}">
	<xacro:insert_block name="origin"/>
      </xacro:robotiq_hande_gripper>
    </xacro:if>

    <!-- ros2_control settings for gazebo -->
    <xacro:if value="${sim}">
      <ros2_control name="GazeboSystem" type="system">
	<hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
	</hardware>

	<xacro:unless value="${type == 'robotiq_hande'}">
	  <joint name="${name}_finger_joint">
            <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">0.08</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
	  </joint>
	  <joint name="${name}_right_outer_knuckle_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
	  </joint>
	  <joint name="${name}_left_inner_knuckle_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
	  </joint>
	  <joint name="${name}_right_inner_knuckle_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
	  </joint>
	  <joint name="${name}_left_inner_finger_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
	  </joint>
	  <joint name="${name}_right_inner_finger_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
	  </joint>
	</xacro:unless>

	<xacro:if value="${type == 'robotiq_hande'}">
	  <joint name="${name}_finger_joint">
	    <command_interface name="position"/>
            <state_interface name="position">
              <param name="initial_value">0.05</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
	  </joint>
	  <joint name="${name}_right_finger_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
	  </joint>
	</xacro:if>
      </ros2_control>.

      <gazebo>
	<plugin filename="gz_ros2_control-system"
		name="gz_ros2_control::GazeboSimROS2ControlPlugin">
	  <parameters>/tmp/${name}_controllers.yaml</parameters>
	  <!-- <ros> -->
	  <!--   <namespace>${name}</namespace> -->
	  <!--   <remapping>robot_description:=/robot_description</remapping> -->
	  <!-- </ros> -->
	</plugin>
      </gazebo>
    </xacro:if>

  </xacro:macro>

</robot>
