<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="ur_robot" params="sim name">

    <!-- Load hardware configuration parameters from YAML -->
    <xacro:property name ="config_file"
		    value="$(find aist_bringup)/config/devices/arms.yaml"/>
    <xacro:property name ="config"
		    value="${xacro.load_yaml(config_file)[name]}"/>

    <!-- parameters -->
    <xacro:property name ="ur_type"
		    value="${config.get('ur_type', 'ur5e')}"/>
    <xacro:property name ="tf_prefix"
		    value="${name}_"/>
    <xacro:property name="joint_limit_params"
		    value="$(find ur_description
			   )/config/${ur_type}/joint_limits.yaml"/>
    <xacro:property name ="kinematics_params"
		    value="$(find aist_description
			   )/scenes/calib/${name}.yaml"/>
    <xacro:property name ="physical_params"
		    value="$(find ur_description
			   )/config/${ur_type}/physical_parameters.yaml"/>
    <xacro:property name ="visual_params"
		    value="$(find ur_description
			   )/config/${ur_type}/visual_parameters.yaml"/>
    <xacro:property name ="safety_limits"
		    value="${config.get('safety_limits', 'false')}"/>
    <xacro:property name ="safety_pos_margin"
		    value="${str(config.get('safety_limits', 0.15))}"/>
    <xacro:property name ="safety_k_position"
		    value="${str(config.get('safety_k_position', 20))}"/>
    <xacro:property name ="force_abs_paths"
		    value="${config.get('force_abs_paths', 'false')}"/>
    <xacro:property name ="transmission_hw_interface"
		    value="${config.get('transmission_hw_interface',
			   'hw_interface/PositionJointInterface')}"/>

    <!-- initial position for simulations (Mock Hardware, Gazebo, Ignition) -->
    <xacro:property name ="initial_position_coordinates"
		    value="${config.get('initial_positions',
			   [0.0, 0.0, 0.0, 0.0, 0.0, 0.0])}"/>
    <xacro:property name ="initial_positions"
		    value="${dict(
			   shoulder_pan_joint=initial_position_coordinates[0],
			   shoulder_lift_joint=initial_position_coordinates[1],
			   elbow_joint=initial_position_coordinates[2],
			   wrist_1_joint=initial_position_coordinates[3],
			   wrist_2_joint=initial_position_coordinates[4],
			   wrist_3_joint=initial_position_coordinates[5])}"/>

    <!-- Pose of robots -->
    <xacro:property name ="parent"
		    value="${config.get('parent', 'world')}"/>
    <xacro:property name ="origin"
		    value="${config.get('origin',
			   [0.0, 0.0, 0.0, 0.0, 0.0, 0.0])}"/>

    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
    <xacro:ur_robot
	name="${name}"
	tf_prefix="${name}_"
	parent="${parent}"
	joint_limits_parameters_file="$(find ur_description
				      )/config/${ur_type}/joint_limits.yaml"
	physical_parameters_file="$(find ur_description
				  )/config/${ur_type}/physical_parameters.yaml"
	visual_parameters_file="$(find ur_description
				)/config/${ur_type}/visual_parameters.yaml"
	kinematics_parameters_file="$(find aist_description
				    )/scenes/calib/${name}.yaml"
	safety_limits="${safety_limits}"
	safety_pos_margin="${safety_pos_margin}"
	safety_k_position="${safety_k_position}"
	force_abs_paths="${force_abs_paths}">
      <origin xyz="${origin[0]} ${origin[1]} ${origin[2]}"
	      rpy="${radians(origin[3])}
		   ${radians(origin[4])}
		   ${radians(origin[5])}"/>
    </xacro:ur_robot>

    <!-- ros2_control settings for gazebo -->
    <xacro:if value="${sim}">
      <xacro:include filename="$(find ur_simulation_gz
			       )/urdf/ur_gz.ros2_control.xacro"/>
      <xacro:ur_ros2_control
	  name="${name}"
	  tf_prefix="${name}_"
	  transmission_hw_interface="${transmission_hw_interface}"
	  initial_positions="${initial_positions}">
      </xacro:ur_ros2_control>
    </xacro:if>

  </xacro:macro>

</robot>
